<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeautifyTech</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>

    <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautifyTech</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="topo">
        <header>
            <div class="container">
                <img src="static/image/img.png" width="150" height="150">
                <nav>
                    <ul>
                        <li><a href="#about">Sobre Nós</a></li>
                        <li><a href="#services">Serviços</a></li>
                        <li><a href="#contact">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="hero">
            <div class="container">
                <h2>Simplificando a Gestão para Salões de Beleza</h2>
                <p>Plataformas inovadoras para agendamento, gerenciamento de serviços, tempo e tarefas.</p>
            </div>
        </section>
    </div>

    <section id="about" class="container">
        <h2>Sobre Nós</h2>
        <p>Somos apaixonados por transformar o setor de
            estética e beleza por meio da inovação tecnológica.
            Somos uma empresa especializada no desenvolvimento de aplicativos móveis personalizados,
            projetados especificamente para atender as necessidades de barbearias, salões de beleza,
            salões de depilação, salões de unhas e outros estabelecimentos do ramo.</p>

        <br>

        <h2>Nossa Visão</h2>
        <p>Ser a empresa líder em soluções móveis inovadoras e personalizadas, capacitando negócios de
            estética e beleza a oferecerem serviços excepcionais e a otimizarem suas operações.</p>

        <br>

        <h2>Nossa Missão</h2>
        <p>Desenvolver aplicativos de alta qualidade que não apenas melhorem a gestão dos negócios de
            nossos clientes, mas também aumentem a fidelização de seus próprios clientes, proporcionando
            uma experiência superior em cada interação.</p>

    </section>

    <section id="services" class="container">
        <h2>Serviços</h2>
        <ul>
            <li class="service-item">
                <div class="text-content">
                    <h3>Agendamento</h3>
                    <h3>Online:</h3>
                    <p>Permita que seus clientes agendem serviços de forma prática e rápida através de nossa plataforma.</p>
                </div>
                <img src="static/image/calendario.jpeg" alt="calendario" class="service-img" width="450" height="500">
            </li>
            <li class="service-item">
                <img src="static/image/gerencia.jpg" alt="gerencia" class="service-img" width="650" height="400">
                <div class="text-content">
                    <h3>Gerenciamento de Tarefas:</h3>
                    <p>Organize e distribua tarefas entre sua equipe com facilidade.</p>
                </div>
            </li>
            <li class="service-item">
                <div class="text-content">
                    <h3>Controle de Tempo:</h3>
                    <p>Acompanhe o tempo gasto em cada serviço e melhore a eficiência do seu salão.</p>
                </div>
                <img src="static/image/tempo.jpg" alt="tempo" class="service-img" width="650" height="400">
            </li>
            <li class="service-item">
                <img src="static/image/pagamento.jpg" alt="pagamento" class="service-img" width="650" height="500">
                 <div class="text-content">
                    <h3>Pagamento Online:</h3>
                    <p>Ofereça aos seus clientes a conveniência de pagar pelos serviços online de forma segura e rápida.</p>
                </div>
            </li>
        </ul>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 BeautifyTech. Todos os direitos reservados.</p>
        </div>
        <div>
            <h4>Contatos:</h4>
            <p>beutifytech@gmail.com</p>
            <p>+55 4002 8922</p>
        </div>
        <a href="/politicasTermo">Politícas de Privacidade e Termos de Uso</a>
    </footer>
</body>
</html>

</body>
</html>